<ion-header [translucent]="false">
  
    
  
</ion-header>

<ion-content [fullscreen]="true" >
  <div class="nome_cima">
    <ion-title>
      TAF10
    </ion-title>
    <ion-title>
      Preparação Física
    </ion-title>
  </div>
  <div class="ion-padding">
    <h2>Olá Prof nome</h2>
    <p>Bem-vindo(a) ao TAF10</p>
  
  <ion-card>
    <ion-button (click)="Sair()" size="large" expand="full">
    
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Alunos</ion-label>
    </ion-button>
    <ion-button (click)="Sair()" size="large" expand="full">
    
      <ion-icon name="people-circle-outline"></ion-icon>
      <ion-label>Minhas Turmas</ion-label>
    </ion-button>
  </ion-card>
  
