ion-title{
  text-align: center;
  color: #acacac;
  box-shadow: none;
  font-size: 15px;
  font-weight: 100;

}
ion-card-header>ion-title{
  text-align: center;
  color: #acacac;
  box-shadow: none;text-shadow: #cfcfcf 0px 1px 1px;
  font-size: 2rem;
  font-weight: 100;

}
ion-content {
    --background: #2E2E2E;
    
  }
  ion-button {
    --background: #3AABA9;
    --color: #FFFFFF;
    margin: 30px;
    border-radius: 10px;

  }

  ion-card{
    background-color: #2e2e2eb0;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: #363636 0px 0px 2px;
  }
  ion-icon{
    padding-right: 7px;
}

.logo_taf{
  max-width: 70px;
  margin: 10px auto;
}

.ion-padding{
  padding: 0px;
  margin: auto 30px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ion-padding ion-icon{
  font-size: 1.7rem;
  color: #acacac;
  cursor: pointer;
}
ion-chip{
  --background: #aaaaaa60;
  --color: #FFFFFF;
  margin: 10px;
  border-radius: 10px;
  font-size: 1.2rem;
}

